<?xml version="1.0"?>

<robot name="sirius"
	xmlns:xi="http://www.w3.org/2001/XInclude"  
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"  
	xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"  
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"  
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"  
	xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"  
	xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"  
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"  
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"  
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"  
	xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"  
	xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"  
	xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- robot -->
	<include filename="$(find omni_base)/urdf/omni_body.xacro"/>
	<xacro:omni_body/>
	<xacro:omni_base_sim/>

	<!-- Laser  -->
	<xacro:include filename="$(find omni_base)/urdf/omni_laser.xacro"/>
	<xacro:omni_laser name="base_laser" parent="base_link" xyz="0.16 0 0.2" rpy="0 0 0" meshes="package://gazebo_plugins/test/multi_robot_scenario/meshes/laser"/>



</robot>
